{
    "workflows": [
        {
            "file": "llama3_1_qnn_config.json",
            "templateName": "llama3_1_qnn_config"
        },
        {
            "file": "llama3_1_vitis_ai_config.json",
            "templateName": "llama3_1_vitis_ai_config"
        },
        {
            "file": "llama3_1_ov_config.json",
            "templateName": "llama3_1_ov_config"
        },
        {
            "file": "llama3_1_ov_gpu_config.json",
            "templateName": "llama3_1_ov_gpu_config"
        },
        {
            "file": "llama3_1_trtrtx_config.json",
            "templateName": "llama3_1_trtrtx_config"
        },
        {
            "file": "llama3_1_dml_config.json",
            "templateName": "llama3_1_dml_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/meta-llama/Llama-3.1-8B-Instruct",
        "version": 2
    }
}
