{
    "copies": [
        {
            "src": "../../intel-bert-base-uncased-mrpc/aitk/winml.py",
            "dst": "winml.py"
        },
        {
            "src": "deepseek_dml_config.json",
            "dst": "deepseek_migraphx_config.json",
            "replacements": [
                {
                    "find": "DmlExecutionProvider",
                    "replace": "MIGraphXExecutionProvider"
                }
            ]
        },
        {
            "src": "deepseek_dml_config.json.config",
            "dst": "deepseek_migraphx_config.json.config",
            "replacements": [
                {
                    "find": "DmlExecutionProvider",
                    "replace": "MIGraphXExecutionProvider"
                },
                {
                    "find": "DirectML",
                    "replace": "AMD GPU"
                }
            ]
        }
    ]
}
