# Olive dev team owns the repository
*    @microsoft/olivedevteam

# skylight owns aitk
aitk/ @microsoft/skylight-dev-team @microsoft/olivedevteam
.aitk/ @microsoft/skylight-dev-team @microsoft/olivedevteam

# license
*/LICENSE @microsoft/skylight-dev-team @microsoft/olivedevteam
