{
    "copies": [
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "<｜User｜>{input}<｜Assistant｜><think>",
                    "replace": "<|user|>\\\\n{input} <|end|>\\\\n<|assistant|>"
                },
                {
                    "find": "ExecutionProvider=\\\"QNNExecutionProvider\\\"",
                    "replace": "ExecutionProvider=\\\"OpenVINOExecutionProvider\\\""
                }
            ]
        },
        {
            "src": "../../microsoft-Phi-3.5-mini-instruct/aitk/inference_model.json",
            "dst": "inference_model.json",
            "replacements": []
        }
    ]
}
