{
    "copies": [
        {
            "src": "../../intel-bert-base-uncased-mrpc/aitk/winml.py",
            "dst": "winml.py"
        },
        {
            "src": "bert-base-multilingual-cased_dml.json",
            "dst": "bert-base-multilingual-cased_migraphx.json",
            "replacements": [
                {
                    "find": "DmlExecutionProvider",
                    "replace": "MIGraphXExecutionProvider"
                }
            ]
        },
        {
            "src": "bert-base-multilingual-cased_dml.json.config",
            "dst": "bert-base-multilingual-cased_migraphx.json.config",
            "replacements": [
                {
                    "find": "DmlExecutionProvider",
                    "replace": "MIGraphXExecutionProvider"
                },
                {
                    "find": "DirectML",
                    "replace": "AMD GPU"
                }
            ]
        }
    ]
}
