{
    "workflows": [
        {
            "file": "bert-large-uncased_qdq_qnn.json",
            "templateName": "bert-large-uncased_qdq_qnn"
        },
        {
            "file": "bert-large-uncased_qdq_amd.json",
            "templateName": "bert-large-uncased_qdq_amd"
        },
        {
            "file": "bert-large-uncased_context_ov_static.json",
            "templateName": "bert-large-uncased_context_ov_static"
        },
        {
            "file": "bert-large-uncased_trtrtx.json",
            "templateName": "bert-large-uncased_trtrtx"
        },
        {
            "file": "bert-large-uncased_dml.json",
            "templateName": "bert-large-uncased_dml"
        }
    ],
    "modelInfo": {
        "id": "huggingface/google-bert/bert-large-uncased",
        "version": 1
    }
}
