{
    "copies": [
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-7B/aitk/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "DeepSeek-R1-Distill-Qwen-7B",
                    "replace": "DeepSeek-R1-Distill-Qwen-14B"
                },
                {
                    "find": "OpenVINO for Intel® GPU/NPU",
                    "replace": "OpenVINO for Intel® GPU"
                }
            ]
        }
    ]
}
