{
    "copies": [
        {
            "src": "../../Qwen-Qwen2.5-7B-Instruct/aitk/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": []
        },
        {
            "src": "../../Qwen-Qwen2.5-7B-Instruct/aitk/inference_model.json",
            "dst": "inference_model.json",
            "replacements": []
        },
        {
            "src": "../../Qwen-Qwen2.5-7B-Instruct/aitk/qwen2_5_ov_config.json",
            "dst": "qwen2_5_ov_config.json",
            "replacements": [
                {
                    "find": "Qwen2.5-7B-Instruct",
                    "replace": "Qwen2.5-Coder-0.5B-Instruct"
                }
            ]
        },
        {
            "src": "../../Qwen-Qwen2.5-7B-Instruct/aitk/qwen2_5_ov_npu_config.json",
            "dst": "qwen2_5_ov_npu_config.json",
            "replacements": [
                {
                    "find": "Qwen2.5-7B-Instruct",
                    "replace": "Qwen2.5-Coder-0.5B-Instruct"
                }
            ]
        },
        {
            "src": "../../Qwen-Qwen2.5-7B-Instruct/aitk/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "Qwen2.5-7B-Instruct",
                    "replace": "Qwen2.5-Coder-0.5B-Instruct"
                }
            ]
        },
        {
            "src": "../../Qwen-Qwen2.5-7B-Instruct/aitk/requirements.txt",
            "dst": "requirements.txt"
        }
    ]
}
