{
    "workflows": [
        {
            "file": "phi4_ov_config.json",
            "templateName": "phi4_ov_config"
        },
        {
            "file": "phi4_trtrtx.json",
            "templateName": "phi4_trtrtx"
        }
    ],
    "modelInfo": {
        "id": "huggingface/microsoft/Phi-4",
        "version": 2
    }
}
