{
    "workflows": [
        {
            "file": "phi3_ov_config.json",
            "templateName": "phi3_ov_config"
        },
        {
            "file": "phi3_trtrtx.json",
            "templateName": "phi3_trtrtx"
        }
    ],
    "modelInfo": {
        "id": "huggingface/microsoft/Phi-3-mini-128k-instruct",
        "version": 3
    }
}
