{
    "copies": [
        {
            "src": "resnet_qdq_amd.json.config",
            "dst": "resnet_qdq_qnn.json.config",
            "replacements": [
                {
                    "find": "resnet/resnet_ptq_qdq_vitis_ai.json",
                    "replace": "resnet/qnn/resnet_ptq_qnn_qdq.json"
                },
                {
                    "find": "Convert to AMD NPU",
                    "replace": "Convert to Qualcomm NPU"
                }
            ]
        },
        {
            "src": "resnet_dml.json",
            "dst": "resnet_migraphx.json",
            "replacements": [
                {
                    "find": "DmlExecutionProvider",
                    "replace": "MIGraphXExecutionProvider"
                },
                {
                    "find": "resnet_dml",
                    "replace": "resnet_migraphx"
                }
            ]
        },
        {
            "src": "resnet_dml.json.config",
            "dst": "resnet_migraphx.json.config",
            "replacements": [
                {
                    "find": "DmlExecutionProvider",
                    "replace": "MIGraphXExecutionProvider"
                },
                {
                    "find": "DirectML",
                    "replace": "AMD GPU"
                }
            ]
        }
    ]
}
