{
    "workflows": [
        {
            "file": "openai_clip_qnn.json",
            "templateName": "openai_clip_qnn"
        },
        {
            "file": "openai_clip_qdq_amd.json",
            "templateName": "openai_clip_qdq_amd"
        },
        {
            "file": "openai_clip_ov.json",
            "templateName": "openai_clip_ov"
        },
        {
            "file": "openai_clip_trtrtx.json",
            "templateName": "openai_clip_trtrtx"
        },
        {
            "file": "openai_clip_dml.json",
            "templateName": "openai_clip_dml"
        },
        {
            "file": "openai_clip_migraphx.json",
            "templateName": "openai_clip_migraphx"
        }
    ],
    "modelInfo": {
        "id": "huggingface/openai/clip-vit-base-patch16",
        "version": 5
    }
}
