{
    "copies": [
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_qnn.json",
            "dst": "laion_clip_qnn.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_qnn.json.config",
            "dst": "laion_clip_qnn.json.config",
            "replacements": [
                {
                    "find": "clip/qnn/openai_clip-vit-base-patch16_ptq_qnn_qdq.json",
                    "replace": "clip/qnn/laion_CLIP-ViT-B-32-laion2B-s34B-b79K_ptq_qnn_qdq.json"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_ov.json",
            "dst": "laion_clip_ov.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                },
                {
                    "find": "openai_clip",
                    "replace": "laion_clip"
                },
                {
                    "find": "\"device\": \"npu\"\n",
                    "replace": "\"device\": \"npu\", \"library\": \"transformers\"\n"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_ov.json.config",
            "dst": "laion_clip_ov.json.config",
            "replacements": [
                {
                    "find": "clip/openvino/clip_vit_base_patch16_context_ov_static.json",
                    "replace": "clip/openvino/clip_vit_b32_laion2b_s34B_b79k_context_ov_static.json"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_qdq_amd.json",
            "dst": "laion_clip_qdq_amd.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_qdq_amd.json.config",
            "dst": "laion_clip_qdq_amd.json.config",
            "replacements": [
                {
                    "find": "clip/openai_clip-vit-base-patch16_ptq_qdq_vitis_ai.json",
                    "replace": "clip/laion_CLIP-ViT-B-32-laion2B-s34B-b79K_ptq_qdq_vitis_ai.json"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_trtrtx.json",
            "dst": "laion_clip_trtrtx.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_trtrtx.json.config",
            "dst": "laion_clip_trtrtx.json.config",
            "replacements": [
                {
                    "find": "clip/openai_clip-vit-base-patch16_trtrtx.json",
                    "replace": "clip/laion_CLIP-ViT-B-32-laion2B-s34B-b79K_trtrtx.json"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_dml.json",
            "dst": "laion_clip_dml.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_dml.json.config",
            "dst": "laion_clip_dml.json.config",
            "replacements": []
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/user_script.py",
            "dst": "user_script.py"
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_ov.py",
            "dst": "laion_clip_ov.py"
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "Openai",
                    "replace": "Laion"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/requirements.txt",
            "dst": "requirements.txt"
        }
    ]
}
