{
    "copies": [
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "openai/clip-vit-base-patch32"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_qnn.json",
            "dst": "openai_clip_qnn.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "openai/clip-vit-base-patch32"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_qnn.json.config",
            "dst": "openai_clip_qnn.json.config",
            "replacements": [
                {
                    "find": "clip/qnn/openai_clip-vit-base-patch16_ptq_qnn_qdq.json",
                    "replace": "clip/qnn/openai_clip-vit-base-patch32_ptq_qnn_qdq.json"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_ov.json",
            "dst": "openai_clip_ov.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "openai/clip-vit-base-patch32"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_ov.json.config",
            "dst": "openai_clip_ov.json.config",
            "replacements": [
                {
                    "find": "clip/openvino/clip_vit_base_patch16_context_ov_static.json",
                    "replace": "clip/openvino/clip_vit_base_patch32_context_ov_static.json"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_qdq_amd.json",
            "dst": "openai_clip_qdq_amd.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "openai/clip-vit-base-patch32"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_qdq_amd.json.config",
            "dst": "openai_clip_qdq_amd.json.config",
            "replacements": [
                {
                    "find": "clip/openai_clip-vit-base-patch16_ptq_qdq_vitis_ai.json",
                    "replace": "clip/openai_clip-vit-base-patch32_ptq_qdq_vitis_ai.json"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_trtrtx.json",
            "dst": "openai_clip_trtrtx.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "openai/clip-vit-base-patch32"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_trtrtx.json.config",
            "dst": "openai_clip_trtrtx.json.config",
            "replacements": [
                {
                    "find": "clip/openai_clip-vit-base-patch16_trtrtx.json",
                    "replace": "clip/openai_clip-vit-base-patch32_trtrtx.json"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_dml.json",
            "dst": "openai_clip_dml.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "openai/clip-vit-base-patch32"
                }
            ]
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_dml.json.config",
            "dst": "openai_clip_dml.json.config",
            "replacements": []
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/user_script.py",
            "dst": "user_script.py"
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/openai_clip_ov.py",
            "dst": "openai_clip_ov.py"
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/README.md",
            "dst": "README.md"
        },
        {
            "src": "../../openai-clip-vit-base-patch16/aitk/requirements.txt",
            "dst": "requirements.txt"
        }
    ]
}
