./onnxruntime_winml-1.23.0.dev2025091008-cp312-cp312-win_amd64.whl
# download:onnxruntime_winml-1.23.0.dev2025091008-cp312-cp312-win_amd64.whl
./onnxruntime_genai_winml-0.10.0.dev20250915-cp312-cp312-win_amd64.whl
# download:onnxruntime_genai_winml-0.10.0.dev20250915-cp312-cp312-win_amd64.whl
--index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/ORT-Nightly/pypi/simple
--extra-index-url https://pypi.org/simple
# winrt-runtime==3.2.1
winrt-runtime==3.2.1
# winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation==3.2.1
# winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
./wasdk_microsoft_windows_ai_machinelearning-1.8.250911001-cp312-cp312-win_amd64.whl
# download:wasdk_microsoft_windows_ai_machinelearning-1.8.250911001-cp312-cp312-win_amd64.whl
./wasdk_microsoft_windows_applicationmodel_dynamicdependency_bootstrap-1.8.250911001-cp312-cp312-win_amd64.whl
# download:wasdk_microsoft_windows_applicationmodel_dynamicdependency_bootstrap-1.8.250911001-cp312-cp312-win_amd64.whl
coloredlogs==15.0.1
humanfriendly==10.0
pyreadline3==3.5.4
flatbuffers==25.2.10
numpy==2.2.4
packaging==24.2
protobuf==6.30.2
sympy==1.14.0
mpmath==1.3.0
# not in requires
