{
    "workflows": [
        {
            "file": "Mistral_7B_Instruct_v0.2_gpu_context_ov_dy.json",
            "templateName": "Mistral_7B_Instruct_v0.2_gpu_context_ov_dy"
        },
        {
            "file": "Mistral_7B_Instruct_v0.2_npu_context_ov_dy.json",
            "templateName": "Mistral_7B_Instruct_v0.2_npu_context_ov_dy"
        }
    ],
    "modelInfo": {
        "id": "huggingface/mistralai/Mistral-7B-Instruct-v0.2",
        "version": 1
    }
}
