{
    "workflows": [
        {
            "file": "qwen2_5_ov_config.json",
            "templateName": "qwen2_5_ov_config"
        },
        {
            "file": "qwen2_5_trtrtx.json",
            "templateName": "qwen2_5_trtrtx"
        }
    ],
    "modelInfo": {
        "id": "huggingface/Qwen/Qwen2.5-14B-Instruct",
        "version": 3
    }
}
