{
    "workflows": [
        {
            "file": "ms-marco-MiniLM-L-6-v2_qdq_qnn.json",
            "templateName": "ms-marco-MiniLM-L-6-v2_qdq_qnn"
        },
        {
            "file": "ms-marco-MiniLM-L-6-v2_qdq_amd.json",
            "templateName": "ms-marco-MiniLM-L-6-v2_qdq_amd"
        },
        {
            "file": "ms-marco-MiniLM-L-6-v2_context_ov_static.json",
            "templateName": "ms-marco-MiniLM-L-6-v2_context_ov_static"
        },
        {
            "file": "ms-marco-MiniLM-L-6-v2_trtrtx.json",
            "templateName": "ms-marco-MiniLM-L-6-v2_trtrtx"
        },
        {
            "file": "ms-marco-MiniLM-L-6-v2_dml.json",
            "templateName": "ms-marco-MiniLM-L-6-v2_dml"
        }
    ],
    "modelInfo": {
        "id": "huggingface/cross-encoder/ms-marco-MiniLM-L-6-v2",
        "version": 1
    }
}
